table {
    background-color: gray;
    margin-left: 10%;
    margin-right: 10%;  
}

tr{
    background-color: orange;
    margin-left: 10%;
    margin-right: 10%;
}
th{ 
    background-color: blue;
    margin-left: 10%;
    margin-right: 10%;
}














